body {
    background-color: #131313;
  }


#nav {
  display: block;
  width:300px;
  height:400px;
  justify-content: center;
  margin:auto;
  margin-top:10%;
  margin-left:30%;
}

#input {
  display: block;
  font-size:11px;
  padding:4px 2px;
  border:solid 1px #aacfe4;
  width:300px;
  margin:2px 0 20px 10px;
}

.button {
  width:30px;
  height:20px;
  font-size:11px;
  text-align: center;
  width:100px;
  justify-content: center;
  margin-left:22%;
}

#buttonDiv {
  margin-left:20%
}

p{
  color:white;
  font-size:12px;
}

#name {
  margin-left:29%

}

#link {
  font-size:12px;
  margin-left:32%;
}